verde_excel = #02723B

i
    vertical-align middle !important

.card-title, .card-description
    margin 2px !important
    padding 2px !important

.contenedor_registros
    height 62vh
    overflow-y auto

.divisor
    margin 7px

.puntero
    cursor pointer
    text-decoration none

textarea.form-control
    height unset
    resize vertical

.verde_excel
    color verde_excel