verde_excel = #02723B
azul_claro_institucional = #04D9FF
gris_claro_institucional = #466E91
gris_oscuro_institucional = #122239

i
    vertical-align middle !important

#sesion
    background-image url('../images/fondo.jpg') !important
    background-position center
    background-repeat no-repeat
    background-size cover

.card-title, .card-description
    margin 2px !important
    padding 2px !important

.contenedor_registros
    height 62vh
    overflow-y auto

// Para cambiar todo el fondo
// .content-wrapper, .navbar-menu-wrapper, .navbar-brand-wrapper, .sidebar, .footer
    // background-color gris_claro_institucional !important

.divisor
    margin 7px

.menu-icon
    color gris_claro_institucional !important

.puntero
    cursor pointer
    text-decoration none

textarea.form-control
    height unset
    resize vertical

.verde_excel
    color verde_excel